
div.elephant img {
    width: 500px;
    right: 70%;
    left: auto;
    top: 50%;
    bottom: 0%;
    position: absolute;
    overflow: hidden;
    -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

div.elephant img:hover {
  -webkit-transform: translate(10px, 0);
-moz-transform: translate(10px, 0);
-o-transform: translate(10px, 0);
transform: translate(10px, 0);
}

div.moon img {
    width: 40%;
    right: 5%;
    top: -15%;
    left: 60%;
    bottom: 0%;
    position: absolute;
    overflow: hidden;
    -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  cursor: pointer;
  filter: grayscale(0);
}

div.moon img:hover {
  -webkit-transform: translate(0, -10px);
-moz-transform: translate(0, -10px);
-o-transform: translate(0, -10px);
transform: translate(0, -10px);
filter: grayscale(25%);
}

@media screen and (max-width: 767px) {

  div.elephant img {
      width: 50%;
      right: 55%;
      top: 60%;
      position: absolute;
  }

  div.moon img {
      width: 50%;
      right: 5%;
      top: 5%;
      left: 50%;
      bottom: 0%;
      position: absolute;
  }
